.footer-main{
  display: block;
  margin-left: 0;
  margin-right: 0;

  @media (min-width:768px){
    display: flex;
    flex-wrap: wrap;

    @media (min-width:1200px) {
      flex-wrap:unset;
    }
    
  }
}

.foter-blocks{
  @media (min-width:768px) {
    display: flex;
    
  }
 
}

.footer {

      display: block;
      padding-top: 60px;
      padding-bottom: 130px;
      background-color: $top-bottom-background-color;
      font-family: $main-font-family;

      @media (min-width:1200px) {
         padding-bottom: 60px;
      }
     
    }
  
  .logo-footer{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer-list{
    display: block;
    margin: 0 auto;
  }
    
  .footer-contacts-text{
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-family: $main-font-family;
    margin-top: 9px;
    font-size: 14px;
  }

  .footer-adress {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 8px;
  }

   .footer-items:not(:last-child){
  margin-bottom: 8px;
  }

  .footer-contacts-text{
    display: block;
    text-align: center;
  }

  .footer-contacts{
margin-bottom: 60px;
@media (min-width:768px) {
margin-left: 76px;
@media (min-width:1200px) {
  margin-right: 70px;
  margin-left: unset;
}
  
}
  }


  


