.footer-welcom {
  display: block;
  padding-bottom: 60px;
  

  @media(min-width:768px){
    .footer-welcom{
      margin-left: 165px;
    }
    @media (min-width:1200px) {
      padding-bottom: unset;
      margin-left: unset;
    }
    
}

.footer-form-block{
  margin: 0 auto;
}



.footer-join{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  width: 145px;
  height: 16px;
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
.clients-list-f {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.f-icon:not(:last-child) {
  margin-right: 10px;
}

.m-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.footer-input{
  margin-bottom: 20px;
}

}