header{
  background: #ffffff;
  border: 1px solid #ececec;

  &.container{
  display: flex;
  align-items: center;
  }

  .header-nav-links {
    display: none;
  }
  .header-contacts{
    display: none;
  }
}

.header_mobile_menu{
  display: flex;
  align-items: center;

  .header_menu_icon{
    width: 40px;
    height: 40px;
    fill: currentColor;
    margin-left: auto;
    }
    
    .header_button{
      background-color: transparent;
      cursor: pointer;
      border: none;
    
      margin-left: auto;
      justify-items: center;
    }
  }
