.logo{
   font-family: $secondary-font-family;
   font-weight: bold;
   font-size: 24px;
   line-height: 1.16;
   letter-spacing: 0.03em;
   color: $accent-color;
   width: 134px;
   margin-top: 16px;
   margin-bottom: 16px;

   @media(min-width:768px){
     display: block;
     width: 134px;
     height: 28px;
     margin-bottom: 0;
     margin-right: 88px;
     margin-top: 26px;
     margin-left: 0;
   }
         
  
}
.logo-colortext_bottom {
 color: #ffffff;
}
.logo-colortext {
 color: black;
}
