.main-section-our-advantages{
  padding-top: 60px;

}
.main-advantages-description{

  font-size: 14px;
  line-height: 1.7;
  color: $secondary-fonts-color;
}


.main-advantages-title{
  text-align: center;
  color: $main-fonts-color;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 10px;
} 
    
  
  