.main-advant-list{
  
    display: table;
    margin: 0 auto;

    @media(min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: calc(100%/2-30px);
      margin-left: -15px;
      margin-top: -15px;
          }

          @media (min-width:1600px) {
            width: 1170px;
            flex-wrap: unset;
            justify-content: center;
            align-items: center;
            margin-left: unset;
            margin-top: unset;
          }
}
.main-advant-items {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;

  @media (min-width:768px) {
    margin-left: 15px;
    margin-top: 15px;
    width: 354px;
  }
  
  &:nth-child(1):before {
    background-image: url(../images/antenna.svg);
  }
  
  &::before {
    content: "";
    width: 450px;
    height: 120px;
    display: block;
    padding: 25px 190px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 30px;
    background-color: #f5f4fa;

    @media(min-width:768px) {
      width: 354px;
      padding: 25px 142px;
    }
  }
  
  &:nth-child(2):before {
    background-image: url(../images/clock.svg);
    
  }
  &:nth-child(3):before {
    background-image: url(../images/diagram.svg);
  }
  
  &:nth-child(4):before {
    background-image: url(../images/astronaut.svg);
  }

 
  }


