.main-section-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width:1200px) {
    padding-top: 94x;
    padding-bottom: 94px;
  }
}

.clients{
  display: block;
  


}
 .main-title-h2 {
  display: block;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
 }


    .clients-list{
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-top: -15px;


      @media (min-width:1200px) {
        flex-wrap: unset;
      }

      }

    .clients-link{
      margin-top: 15px;
      width: 210px;
      margin-left: 15px;
      margin-top: 15px;
      flex-basis: calc(100% / 2 - 30px);

      @media (min-width:768px) {
        width: 226px;
        flex-basis: calc(100% / 3 - 60px);
        margin-left: 15px;
        margin-top: 15px;
        align-items: center;
      }

      @media (min-width:1200px) {
        margin-top: unset;
        width: 170px;
      }

      }
      .clients-link:nth-child(2n + 1) {
      margin-right: 15px;
      @media (min-width:768px) {
        margin-right: unset;
      }
      }
     
  
    


  .clients-master {
    display: flex;
    width: 210px;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border: currentColor 1px solid;
    border-radius: 4%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media (min-width:768px) {
      width: 226px;
    }

    @media (min-width:1200px) {
      width: 170px;

    }
  } 
  .icon-clients {
    justify-content: center;
    fill: currentColor;
    justify-items: center;
  }

  .clients-title{
    display: block;
  }
  
  .logo-1 {
    width: 44px;
    height: 49px;
  }
  .logo-2 {
    width: 40px;
    height: 50px;
  }
  .logo-3 {
    width: 41px;
    height: 42.6px;
  }
  .logo-4 {
    width: 79.6px;
    height: 42px;
  }
  .logo-5 {
    width: 59px;
    height: 47px;
  }
  .logo-6 {
    width: 88.4px;
    height: 45.4px;
  }