.mobile-backdrop{
position: fixed;
right: 0;
top: 0;
left: 0;
bottom: 0;
@media (min-width:768px) {
    display: none;
}

}



.mobile-modal{

display: flex;  
margin: 0 auto;
padding: 48px 40px;
width: 100%;
height: 100%;
position: absolute;
background-color: #fff;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scaleX(1);

}
 


.links-mobile{
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.8;
text-align: center;
letter-spacing: 0.02em;
color: #212121;
font-style:normal;
text-decoration: none;
}

.links-mobile-email{
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
font-style: normal;

}

.current-mobile{
color: #2196F3;

}

.mobile-number {
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
text-decoration: none;
font-style: normal;

}

.mobile-number-link{
    margin-bottom: 32px;
}

.mobile-adress{
    display: flex;
    flex-direction: column;
    margin-top: 302px;
    
}

.mobile-social-links{
    display: flex;
    margin-top: 64px;
   

}
.button-close-mobile{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    cursor: pointer;
    
    &:hover{
      color: $accent-color;
    }
  }

.mobile-social-item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobile-link_a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
  }