.mobile-backdrop{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.mobile-modal{
display: flex;  
margin: 0 auto;
width: 420px;
height: 700px;
position: absolute;
background-color: #fff;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scaleX(1);

}



.header-nav-links-mobile{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: center;
    
}    


.item-links-mobile{
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.8;
text-align: center;
letter-spacing: 0.02em;
color: #212121;
font-style:normal;
text-decoration: none;
}


.item-links-mobile:not(:last-child){
margin-bottom: 32px;
}

.nav-section-mobile{
    margin-top: 48px;
}